@using Pharmacy.Data.Utils;
@{
    ViewData["Title"] = "General";
    Layout = "_Layout";

}

<section>
    <div class="content" style="margin: 105px 0 106px 0">
        <h2 style="text-align:center;text-transform:uppercase;">Усі категорії</h2>
        <ul id="category-links">
            @foreach (var category in ViewBag.Categories)
            {
                <li><a href="good/@(category.Name)/1">@category.Name</a></li>
            }
        </ul>
    </div>
</section>
